<div class="container-fluid">
  <app-sidebar></app-sidebar>
  <div class="content">
    <app-header></app-header>
    <div class="info">
      <div class="card">
        <div class="card-header">
          Update Mission
        </div>
        <div class="card-body">
          <form [formGroup]="addMissionForm">
            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label">Country</label>
                <select class="form-select" (change)="CityList($event)" formControlName="countryId">
                  <option *ngFor="let item of countryList" [value]="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger" *ngIf="addMissionForm.controls['countryId'].invalid && (addMissionForm.controls['countryId'].touched || formValid)">
                  Please Select Country
                </span>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">City</label>
                <select class="form-select" formControlName="cityId">
                  <option value="">Select City</option>
                  <option *ngFor="let item of cityList" [value]="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger" *ngIf="addMissionForm.controls['cityId'].invalid && (addMissionForm.controls['cityId'].touched || formValid)">
                  Please Select City
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label">Mission Title</label>
                <textarea class="form-control" rows="3" placeholder="Enter mission title" formControlName="missionTitle"></textarea>
                <span class="text-danger" *ngIf="addMissionForm.controls['missionTitle'].invalid && (addMissionForm.controls['missionTitle'].touched || formValid)">
                  Please Enter Mission Title
                </span>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">Mission Theme</label>
                <textarea class="form-control" rows="3" placeholder="Enter mission theme" formControlName="missionTheme"></textarea>
                <span class="text-danger" *ngIf="addMissionForm.controls['missionTheme'].invalid && (addMissionForm.controls['missionTheme'].touched || formValid)">
                  Please Enter Mission Theme
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label">Mission Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter mission description" formControlName="missionDescription"></textarea>
                <span class="text-danger" *ngIf="addMissionForm.controls['missionDescription'].invalid && (addMissionForm.controls['missionDescription'].touched || formValid)">
                  Please Enter Mission Description
                </span>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">Total Seats</label>
                <input type="number" class="form-control" placeholder="Enter total seats" formControlName="totalSheets">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label">Start Date</label>
                <input type="date" class="form-control" placeholder="Select Start Date" formControlName="startDate" [min]="addMissionForm.controls['startDate'].value" [disabled]="endDateDisabled">
                <span class="text-danger" *ngIf="addMissionForm.controls['startDate'].invalid && (addMissionForm.controls['startDate'].touched || formValid)">
                  Please Select Start Date
                </span>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">End Date</label>
                <input type="date" class="form-control" placeholder="Select End Date" formControlName="endDate" [min]="addMissionForm.controls['startDate'].value" [disabled]="endDateDisabled">
                <span class="text-danger" *ngIf="addMissionForm.controls['endDate'].invalid && (addMissionForm.controls['endDate'].touched || formValid)">
                  Please Select End Date
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <label class="col-form-label">Mission Images</label>
                <div class="dropZone">
                  <div class="text-wrapper">
                    <div style="text-align: center;">
                      <img src="assets/Img/drag-and-drop.png" alt="No Image" (click)="selectImage.click()" style="cursor: pointer;">
                      <input type="file" class="form-control" multiple #selectImage style="display: none;" formControlName="missionImages" (change)="OnSelectedImage($event)">
                    </div>
                  </div>
                </div>
                <span class="text-danger" *ngIf="addMissionForm.controls['missionImages'].invalid && (addMissionForm.controls['missionImages'].touched || formValid)">
                  Please Select Image
                </span>
              </div>
              <div class="col-sm-6">
                <label class="col-form-label">Mission Skills</label>
                <select class="form-select" formControlName="missionSkillId" multiple="multiple">
                  <option *ngFor="let item of missionSkillList" [value]="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger" *ngIf="addMissionForm.controls['missionSkillId'].invalid && (addMissionForm.controls['missionSkillId'].touched || formValid)">
                  Please Select Mission Skill
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1 pt-2" *ngFor="let items of imageListArray">
                <img src="{{items}}" style="width:95px; height:95px;" onerror="this.src='assets/NoImg.png'" alt="" class="img-thumbnail">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row justify-content-end mt-4">
        <button class="btnCancel" (click)="OnCancel()"><span class="cancel">Cancel</span></button>
        <button class="btnSave" (click)="OnSubmit()"><span class="save">Save</span></button>
      </div>
    </div>
  </div>
</div>
